
/*Google Logo Container*/
#logoDiv {
	background-position: 20px 34px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding-top: 115px;
    height: 95px;
    width: 269px;
}
/*Google Logo -G*/
#logoG {
	position: absolute;
	background-position: 20px 34px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    height: 95px;
    width: 269px;
}
#logoG {
	clip: rect(0px 70px 95px 0px);
	transition: all 0.8s;
}
#logoG:hover {
	clip: rect(0px 70px 95px 0px);
	transform: rotateX(-80deg); transform-origin: bottom;
}
#logoO {
	position: absolute;
	clip:rect(0px 120px 95px 70px);
	background-position: 20px 34px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    height: 95px;
    width: 269px;
}
#logoO {
	transition: all 0.8s;
}
#logoO:hover {
	clip: rect(0px 120px 95px 70px);
	transform: rotateX(-80deg); transform-origin: bottom;
}
#logoO2 {
	position: absolute;
	clip:rect(0px 165px 95px 120px);
	background-position: 20px 34px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    height: 95px;
    width: 269px;
}
#logoO2 {
	transition: all 0.8s;
}
#logoO2:hover {
	clip: rect(0px 165px 95px 120px);
	transform: rotateX(-80deg); transform-origin: bottom;
}
#logoG2 {
	position: absolute;
	clip:rect(0px 210px 95px 165px);
	background-position: 20px 34px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    height: 95px;
    width: 269px;
}
#logoG2 {
	transition: all 0.8s;
}
#logoG2:hover {
	clip: rect(0px 210px 95px 165px);
	transform: rotateX(-80deg); transform-origin: bottom;
}
#logoL {
	position: absolute;
	clip:rect(0px 230px 95px 210px);
	background-position: 20px 34px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    height: 95px;
    width: 269px;
}
#logoL {
	transition: all 0.8s;
}
#logoL:hover {
	clip: rect(0px 230px 95px 210px);
	transform: rotateX(-80deg); transform-origin: bottom;
}
#logoE {
	position: absolute;
	clip:rect(0px 2690px 95px 230px);
	background-position: 20px 34px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    height: 95px;
    width: 269px;
}
#logoE {
	transition: all 0.8s;
}
#logoE:hover {
	clip: rect(0px 269px 95px 230px);
	transform: rotateX(-80deg); transform-origin: bottom;
}