/*Google Logo*/
#googleLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 115px;
    height: 95px;
    width: 269px;
}
/*Search Bar*/
#searchBar {
	opacity: 0.6;
	position: relative;
	display: block;
	height: 24px;
	font-size: 18px;
	font-family: Arial, sans-serif;
	width: 550px;
}
#searchBar:hover {
	opacity: 0.8;
}
/*Google Search button*/
#gsButton {
	opacity: 0.8;
	font-size: 11px;
	height: 29px;
	line-height: 27px;
	margin-right: 14px;
	background-color: #EEEEEE;
	border: 1px solid #C6C6C6;
	border-radius: 3px;
}
#gsButton:hover {
	border-color: #A8A8A8;
}
/*I'm Feeling Lucky button*/ 
#ifl {
	opacity: 0.8;
	font-size: 11px;
	height: 29px;
	line-height: 27px;
	background-color: #EEEEEE;
	border: 1px solid #C6C6C6;
	border-radius: 3px;
}
#ifl:hover {
	border-color: #A8A8A8;
}
/*Mic*/
#mic {
	position: absolute;
	margin: -24px 0px 0px 532px;
	height: 20px;
	width: 14px;
	opacity: 0.6;
}
#mic:hover {
	opacity: 0.8;
}
/*Search bar container*/
#searchContainer {
	margin: 20px auto 0px auto;
	width: 550px;
}

/*Button container*/
#buttonContainer {
	text-align: center;
	margin-top: 16px;
}