	/*Top Navigation*/
	#topNav {
	position: relative;
	float: right;
	display: table-row;
    width: 400px;
    height: 70px;
    font-size: 13px;
    font-family: arial, sans-serif;
    text-align: center;
	}

		/*Top Links*/
		#topNav ul {
		z-index: 1;
	    height: auto;
	    padding: 14px 0px;
	    margin: 0px;
		}
		#topNav li {
		display: inline; 
		padding: 8px; 
		color: silver;
		}
		#topNav a {
    	text-decoration: none;
    	color: black;
    	padding: 8px 0px 8px 0px;
		}
		#topNav a:hover {
		text-decoration: underline;
		}

		/*Apps Grid*/
		#grid {
		opacity: 0.6;
		position: absolute;
		height: 15px;
		width: 15px;
		}
		#grid:hover {
		opacity: 0.8;
		}

		/*Notification Bell*/
		#bell {
		opacity: 0.6;
		position: absolute;
		margin: -1px 0px 0px 20px;
		height: 18px;
		width: 18px;
		background-color: white;
		-webkit-filter: invert(100%);
		border-radius: 100%;
		}
		#bell:hover {
		opacity: 0.8;
		}

		/*User Icon*/
		#userIcon {
		position: absolute;
		margin: -8px 0px 0px 40px;
		border-radius: 100%;
		}

	/*Bottom Navigation*/
	#bottomLeftNav {
	position: relative;
	float: left;
	display: table-row;
    width: auto;
    height: auto;
    font-size: 13px;
    font-family: arial, sans-serif;
    text-align: left;
    margin-left: 20px;
    bottom: 0px;
	}

		#bottomLeftNav ul {
	    padding: 0px 0px;
	    margin: 0px;
		}

	#bottomRightNav {
	position: relative;
	float: right;
	display: table-row;
    width: auto;
    height: auto;
    font-size: 13px;
    font-family: arial, sans-serif;
    text-align: right;
    margin-right: 20px;
    bottom: 0px;
	}
		#bottomRightNav ul {
	    padding: 0px 0px;
	    margin: 0px;
		}

	#bottomNav li {
	display: inline; 
	padding: 13px; 
	color: #666;
	}
	#bottomNav a {
    text-decoration: none;
    color: #666;
    padding: 8px 0px 8px 0px;
	}
	#bottomNav a:hover {
	text-decoration: underline;
	}

/*Search Bar*/
#searchBar {
	opacity: 0.6;
	position: relative;
	display: block;
	height: 24px;
	font-size: 16px;
	font-family: Arial, sans-serif;
	width: 520px;
	padding-right: 25px;
	padding-left: 5px;
}
#searchBar:hover {
	opacity: 0.8;
}

/*Google Search button*/
#gsButton {
	opacity: 0.8;
	font-size: 11px;
	height: 29px;
	line-height: 27px;
	margin-right: 14px;
	background-color: #EEEEEE;
	border: 1px solid #C6C6C6;
	border-radius: 3px;
}
#gsButton:hover {
	border-color: #A8A8A8;
}

/*I'm Feeling Lucky button*/ 
#ifl {
	opacity: 0.8;
	font-size: 11px;
	height: 29px;
	line-height: 27px;
	background-color: #EEEEEE;
	border: 1px solid #C6C6C6;
	border-radius: 3px;
}
#ifl:hover {
	border-color: #A8A8A8;
}

/*Mic*/
#mic {
	position: absolute;
	margin: -24px 0px 0px 532px;
	height: 20px;
	width: 14px;
	opacity: 0.6;
}
#mic:hover {
	opacity: 0.8;
}

/*Search bar container*/
#searchContainer {
	margin: 20px auto 0px auto;
	width: 550px;
}

/*Button container*/
#buttonContainer {
	text-align: center;
	margin-top: 16px;
}

#footerBox {
	position: absolute;
	display: block;
	background-color: #F2F2F2;
	border-top: 1px solid #E4E4E4;
	line-height: 40px;
	height: 40px;
	bottom: 0;
	width: 100%;
	margin-left: -8px;
}